.header_container {
	/* background-image: url('/assets/images/header.png'); */
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}

	.header_container img {
		width: 100vw;
		height: auto;
		/* display: none; */
		/* visibility: hidden; */
	}
