@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

html {
  margin:0;
  padding:0;
  background: url(/content/images/main_back.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
h1 {
  margin-top:5%;
  color : white;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 200;
}
#header {
  text-align: center;
}
.logo_main {
  margin-top: 10%;
  text-align: center;
  width: 40%;
  max-width: 300px;
  height: auto;
}
.btn {
  margin: 25px;
  color: white;
  border : 1px solid white ;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
  .btn:hover {
    background-color: #7093ea;
  }
