:root {
	--blue: #02002c;
}

body {
	font-family: var(--sofia-pro-light);
	overflow-y : hidden;
}

#body_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--blue);
}
