:root {
	--sofia-pro-light: "SofiaPro-Light", "Helvetica", "sans-serif";
	--sofia-pro-regular: "SofiaProRegular", "Helvetica", "sans-serif";
	--sofia-pro-semi-bold: "SofiaPro-SemiBold", "Helvetica", "sans-serif";
	--sofia-pro-bold: "SofiaPro-Bold", "Helvetica", "sans-serif";
	--sofia-pro-extra-light: "SofiaPro-ExtraLight", "Helvetica", "sans-serif";
	--sofia-pro-light-italic: "SofiaPro-LightItalic","Helvetica", "sans-serif";
}

@font-face {
	font-family: 'SofiaPro-Light';
	src: url("/assets/fonts/SofiaPro-Light.eot");
	src: url("/assets/fonts/SofiaPro-Light.woff") format('woff'),
	url("/assets/fonts/SofiaPro-Light.ttf") format('truetype'),
	url("/assets/fonts/SofiaPro-Light.svg#SofiaPro-Light") format('svg'),
	url("/assets/fonts/SofiaPro-Light.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaProRegular';
	src: url("/assets/fonts/SofiaProRegular.eot");
	src: url("/assets/fonts/SofiaProRegular.woff") format('woff'),
	url("/assets/fonts/SofiaProRegular.ttf") format('truetype'),
	url("/assets/fonts/SofiaProRegular.svg#SofiaProRegular") format('svg'),
	url("/assets/fonts/SofiaProRegular.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro-Bold';
	src: url("/assets/fonts/SofiaPro-Bold.eot");
	src: url("/assets/fonts/SofiaPro-Bold.woff") format('woff'), url("/assets/fonts/SofiaPro-Bold.ttf") format('truetype'), url("/assets/fonts/SofiaPro-Bold.svg#SofiaPro-Bold") format('svg'), url("/assets/fonts/SofiaPro-Bold.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro-SemiBold';
	src: url("/assets/fonts/SofiaPro-SemiBold.eot");
	src: url("/assets/fonts/SofiaPro-SemiBold.woff") format('woff'), url("/assets/fonts/SofiaPro-SemiBold.ttf") format('truetype'), url("/assets/fonts/SofiaPro-SemiBold.svg#SofiaPro-SemiBold") format('svg'), url("/assets/fonts/SofiaPro-SemiBold.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro-ExtraLight';
	src: url("/assets/fonts/SofiaPro-ExtraLight.eot");
	src: url("/assets/fonts/SofiaPro-ExtraLight.woff") format('woff'), url("/assets/fonts/SofiaPro-ExtraLight.ttf") format('truetype'), url("/assets/fonts/SofiaPro-ExtraLight.svg#SofiaPro-ExtraLight") format('svg'), url("/assets/fonts/SofiaPro-ExtraLight.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaPro-LightItalic';
	src: url("/assets/fonts/SofiaPro-LightItalic.eot");
	src: url("/assets/fonts/SofiaPro-LightItalic.woff") format('woff'), url("/assets/fonts/SofiaPro-LightItalic.ttf") format('truetype'), url("/assets/fonts/SofiaPro-LightItalic.svg#SofiaPro-LightItalic") format('svg'), url("/assets/fonts/SofiaPro-LightItalic.eot?#iefix") format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
