/* QuasR - CSS for main page */

@import url('/assets/css/fonts.css');

html {
  background: url(/assets/images/index_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width:200px;
  height:auto;
}

#forms_container {
  display: table;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 10px;
}

#login,
#registration {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 10px solid rgba(0, 150, 250, 0.7);
  display: table-cell;
  padding: 25px;
  margin: 10px;
}

  #login input,
  #registration input {
    -webkit-appearance: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin: 3px;
    padding: 10px;
  }

  #login input[type=text].error,
  #login input[type=password].error,
  #registration input[type=text].error,
  #registration input[type=password].error {
    box-shadow: 0px 0px 3px red;
  }

    #login input[type=submit],
    #registration input[type=submit]{
      -webkit-appearance: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      background-color: rgba(0, 150, 250, 0.7);
      color: white;
      border : none;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 15px;
    }

    #login input[type=submit]:hover,
    #registration input[type=submit]:hover{
      background-color: rgba(0, 100, 255, 0.9);
    }

.connected,
.registered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
}

.fill_error {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: red;
}
