/* QuasR - CSS for social page */

@import url('/assets/css/fonts.css');

html {
  background: url(/assets/images/index_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main_container {
  height: 100%;
}
#social_container {
  display : table;
  padding-left: 4%;
  padding-right: 23%;
  width: 73%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

.social_content {
  display: table-cell;
  vertical-align: middle;
}
