@import url('/assets/css/fonts.css');

#messages_sidebar {
  background-color: rgba(22, 22, 30, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  height: 100%;
  width: 23%;
  border-left: 3px solid rgba(116, 155, 230, 0.7);
}
